{% extends "base.html" %}

{% block title %}SHOW PAGE{% endblock %}

{% block content %}
<div>
    <h3>this is show page</h3>
<!--    <table class="table table-hover table-condensed table-striped">-->
<!--        <thead>-->
<!--            <th width="100px">名字</th>-->
<!--            <th>身份码</th>-->
<!--            <th>手机</th>-->
<!--            <th>邮箱</th>-->
<!--            <th>工作</th>-->
<!--            <th>地址</th>-->
<!--            <th>有效时间</th>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        {% for info in data %}-->
<!--            <tr>-->
<!--                <td>{{ info.name }}</td>-->
<!--                <td>{{ info.ssn }}</td>-->
<!--                <td>{{ info.phone }}</td>-->
<!--                <td>{{ info.email }}</td>-->
<!--                <td>{{ info.job }}</td>-->
<!--                <td>{{ info.address }}</td>-->
<!--                <td>{{ info.timestamp }}</td>-->
<!--            </tr>-->
<!--        {% endfor %}-->
<!--        </tbody>-->
<!--    </table>-->
</div>
{% endblock %}