<!DOCTYPE html>
<html lang="en">
{% from 'bootstrap/nav.html' import render_nav_item %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Hello Flask!{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}" type="text/css">
</head>
<body>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="{{ url_for('home.index') }}">Home</a>
                <a class="nav-link" href="{{ url_for('msg.index') }}">Features</a>
                <a class="nav-link" href="{{ url_for('show.index') }}">Contact</a>
            </nav>
<!--            <div class="navbar-nav ml-auto">-->
<!--                <a class="btn btn-outline-primary" href="{{ url_for('home.login_index') }}">Login</a>&nbsp;&nbsp;-->
<!--                <a class="btn btn-primary" href="">Join us</a>-->
<!--            </div>-->
        </div>
    </header>

    <main role="main" class="inner cover">
        {% block content %}{% endblock %}
    </main>

    <footer class="mastfoot mt-auto">
        {% block footer %}
            <small> &copy; 2022 <a href="https://waym1ng.github.io/" title="Welcome to my blog">Ming Ming` Blog</a> /
                <a href="https://github.com/Waym1ng" title="Fork me on GitHub">GitHub</a> /
            </small>
        {% endblock %}
    </footer>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
</body>
</html>
