body {
    background-color: rgb(245, 245, 245) !important;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.custom-nav {
    background-color: rgb(245, 245, 245) !important;
}

.container {
    max-width: 1280px !important;
}

.hello-form {
    margin-bottom: 20px;
}

header {
    margin: 0 0 40px 0;
}

.sub-title {
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .sub-title {
        display: block;
    }
}

footer {
    margin: 20px;
}
